/* Footer.css */

.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
  }
  
  .footer h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .footer p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .footer a:hover {
    color: #adb5bd;
  }
  
  .footer .social-icons a {
    margin-right: 15px;
    font-size: 1.5rem;
  }
  
  .footer .social-icons a:hover {
    color: #adb5bd;
  }
  
  .footer .text-center {
    font-size: 0.8rem;
  }

  .icons one{
    padding: 5px;
    
  }